body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #616161;
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.nav {
    height: 90px;
    padding: 20px;
    z-index: 99;
}
.nav__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
  margin-left: 40px;
  font-size: 10px;
}
.download {
    padding:14px 31px ;
    border-radius: 15px;
    color: #ffffff;
    font-size: 10px;
    background:#4285F4 ;
}
.download:hover, .download:focus, .download:active {
    background:#25539c;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
    z-index: 99;
}
.header__texts {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}
.header__title {
    max-width: 490px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 126%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 12px;
}
.header__text {
    max-width: 375px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #616161;
    margin-bottom: 24px;
}
.header__button {
    max-width: 144px;
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #EC5863;
    border-radius: 5px;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #FCFDFE;
}
.play{
    margin-top: 80px;
}
.header__bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.features {
    margin-top: 150px;
}
.features__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.features__img {
    max-width: 338px;
    width: 100%;
}
.features__title {
    max-width: 379px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 126%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 12px;
}
.features__text {
    max-width: 360px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #616161;
    margin-bottom: 24px;
}
.features__btn {
    max-width: 140px;
    width: 100%;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FCFDFE;
    background: #EC5863;
    padding: 14px;
    border-radius: 5px;
}
.statistics {
    margin-top: 120px;
    margin-bottom: 100px;
}
.statistics__body {
    position: relative;
}
.statistics__block  {
    position: relative;
    max-width: 654px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    padding: 28px;
}
.texts__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistics__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #EC5863;
}
.statistics__text {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.37em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.small__square {
    position: absolute;
    top: 65px;
    left: 165px;
    max-width: 65px;
    width: 100%;
    height: 65px;
    background: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
    z-index: 3;
}
.middle__square {
    position: absolute;
    top: -40px;
    left: 465px;
    max-width: 95px;
    width: 100%;
    height: 95px;
    background: #EC5863;
    border-radius: 16px;
    transform: rotate(105deg);
    z-index: 3;
}
.big__square {
    position: absolute;
    top: 0px;
    right: 135px;
    max-width: 125px;
    width: 100%;
    height: 125px;
    background: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
    z-index: 3;
}
.features__experts {
    max-width: 520px;
    width: 100%;
}
.benefits {
    margin-top: 160px;
    margin-bottom: 74px;
}
.benefits__title {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 126%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 14px;
}
.benefits__text {
    max-width: 600px;
    width: 100%;
     margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #616161;
}
.benefit__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
}
.benefit__block {
    max-width: 278px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding: 17px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
}
.benefit__block_title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 5px;
}
.benefit__block_text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #616161;
}
.benefit__block_icon {
    margin-top: 15px;
    margin-bottom: 58px;
}
.footer {
    margin-bottom: 50px;
}
.footer__body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__img {
    margin-right: 45px;
}

@media (max-width:1050px) {
    .header__bg {
        display: none;
    }
    .header__img {
        max-width: 350px;
        width: 100%;
    }
}
@media (max-width:1022px) {
    .benefit__block {
        max-width: 180px;
        width: 100%;
        padding: 12px;
    }
}
@media (max-width:768px) {
    .header__body {
        margin-top: 55px;
    }
    .header__texts {
        margin-top: 0;
    }
    .header__img {
        max-width: 230px;
        width: 100%;
    }
    .features__body {
        flex-direction: column;
    }
    .features__img {
        max-width: 300px;
        width: 100%;
        margin-bottom: 20px;
    }
    .middle__square {
        left: 276px;
    }
    .small__square {
        left: -22px;
    }
    .big__square {
        right: -35px;
    }
}
@media (max-width:700px) {
    .header__body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .header__texts {
        text-align: center;
    }
    .header__text {
        margin: 0 auto;
        text-align: center;
    }
    .header__button {
        margin: 0 auto;
        margin-top: 20px;
    }
    .play {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .header__img {
        max-width: 300px;
        width: 100%;
    }
    .download {
        padding:14px 31px ;
        border-radius: 15px;
        color: #ffffff;
        background:#4285F4 ;
    }
}
@media (max-width:650px) {
    .nav__list {
        margin-top: 10px;
    }
    .nav__body {
        flex-direction: column;
    }
    .download {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .header__title {
        margin-top: 30px;
    }
    .features__body {
        margin: 0 auto;
    }
    .features__title {
        text-align: center;
    }
    .features__text {
        text-align: center;
    }
    .features__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .statistics__block {
        max-width: 360px;
        flex-direction: column;
    }
    .texts__block {
        margin-bottom: 20px;
    }
}
@media (max-width:555px) {
    .benefit__body {
        flex-direction: column;
    }
    .benefit__block {
        max-width: 330px;
        margin-bottom: 20px;
    }
    .footer__img {
        margin: 0;
    }
}
@media (max-width:400px) {
 .header__title {
     font-size: 34px;
 }
 .features__title {
     font-size: 34px;
 }
 .benefits__title {
     font-size: 34px;
 }
}
