.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #616161;
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 53px;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
}
.header-item {
    margin-right: 40px;
}
.header-link {
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    text-decoration: none;
}
.Download {
    background:#4285F4 ;
    padding: 16px 12px;
    text-transform: uppercase;
    font-weight: 800px;
    font-size: 10px;
    color: white;
    border: 0;
}
.Download:hover, .Download:focus, .Download:active {
    background:#25539c;
}
.header-link:hover, .header-link:focus, .header-link:active {
    opacity: 70%;
}
.intro {
    padding-top: 242px;
}
.intro-title {
    font-weight: bold;
    font-size: 44px;
    line-height: 126%;
    color: black;
    max-width: 497px;
    margin-bottom: 22px;
}
.intro-subtitle {
    color: #616161;
    font-size: 12px;
    line-height: 138.5%;
    max-width: 375px;
    margin-bottom: 24px;
}
.button {
    background: #EC5863;
    padding: 14px 14px;
    text-transform: uppercase;
    font-weight: 800px;
    font-size: 10px;
    color: white;
    border: 0;
}
.button:hover, .button:focus, .button:active {
    background: #d83f49;
}

.main::after {
    content: '';
    background-image: url("../Rectangle15.png");
    background-position: top right;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    z-index: -1;
}